*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow: hidden;
}

p {
  text-align: center;
  font-size: 1.5em;
  color: white;
  font-family: 'Futura', sans-serif;
  line-height: 1.3em;
  padding: 20px;
  width: 40%;
  top: 20%;
  left: 10%;
  background: rgba(10, 10, 10, 0.4);
  border-radius: 25px;
  position: absolute;
}

/*parallax styles*/

.parallax {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 300px;
  perspective: 300px;
}

.parallaxLayer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.group {
  position: relative;
  padding: 25vh 10%;
  min-height: 100vh;
  width: 100vw;
  transform-style: inherit;
  background: 50% 50% / cover;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

.group:before {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: 50% 50% / cover;
}

/*base styles*/

.base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0) scale(1);
  z-index: 15;
}

.fore {
  transform: translateZ(100px) scale(.7);
  z-index: 9;
}
.fore2 {
  transform: translateZ(60px) scale(.8);
  z-index: 16;
}
.fore3 {
  transform: translateZ(40px) scale(.867);
  z-index: 16;
}


.behind {
  -webkit-transform: translateZ(-50px) scale(1.2);
  transform: translateZ(-50px) scale(1.2);
  z-index: 0;
}

.deep {
  /*-webkit-transform: translateZ(-50px) scale(1.2);*/
  transform: translateZ(-100px) scale(1.333);
  z-index: 5;
}

.forer { //fastest
    transform: translateZ(170px) scale(.433);
    z-index: 101;
  }


/*group styles*/


/* slide over group 2 */

#group1{
  z-index: 8;
  .base {
    background: url('../img/mtn.png') 50% 50% no-repeat;
    background-size: cover;
    }
  .fore {
    background: url('../img/cloud.png') 50% 50% no-repeat;
    background-size: cover;
    transform: translateZ(100px) translateY(-25px) scale(.7);
  }
  .fore2 {
    background: url('../img/subtitle.png') 50% 50% no-repeat;
      transform: translateZ(50px) translateY(60px) scale(.833);
    background-size: cover;
  }
  .fore3{
    background: url('../img/title.png') 50% 50% no-repeat;
    transform: translateZ(20px) scale(.933);
    background-size: cover;
  }
  .behind {
    background: url('../img/sky.png') 50% 50% no-repeat;
    background-size: cover;
    transform: translateZ(-35px) translateY(-90px) scale(1.117);
  }
}
/* slide under groups 1 and 3 */
#group2 {
  z-index: 6;
  .base {
    background-color: #7C6959;
    z-index: 7;
  }
  .fore {
    background: url('../img/nest.png') 50% 50% no-repeat;
    background-size: cover;
    z-index: 100;
  }
  .fore2 {
    background: url('../img/hill1.png') 50% 50% no-repeat;
    background-size: cover;
    z-index: 9;
  }
  .fore3 {
    background: url('../img/hill2.png') 50% 50% no-repeat;
    background-size: cover;
    z-index: 10;
  }
}

/* slide over group 2*/
#group3 {
  z-index: 7; 
  .base {
    background: url('../img/icebg.png') 50% 50% no-repeat;
    background-size: cover; 
    z-index: 17;
  }
  .fore {
    background: url('../img/slide.png') 50% 50% no-repeat;
    background-size: cover;
    transform: translateZ(120px) translateY(0px) scale(.6);
    z-index: 18;
  }
  .fore2 {
    background: url('../img/pen.png') 50% 50% no-repeat;
    background-size: cover;
    transform: translateZ(20px) translateY(-10px) scale(.933);
    z-index: 19;
  }
  p{
    left: 5%;
    top: 60%;
  }
}

#group4{
  .base{
    background: url('../img/cliff.png') 50% 50% no-repeat;
    background-size: cover;
    z-index: 20;
  }
  .fore{
    background: url('../img/frontwave.png') 50% 50% no-repeat;
    transform: translateZ(100px) translateY(210px) scale(.7);
    background-size: cover;
    z-index: 100;
  }
  .fore2{
    background: url('../img/backwave.png') 50% 50% no-repeat;
    background-size: cover;
    z-index: 90;
  }
  .fore3{
    background: url('../img/splash.png') 50% 50% no-repeat;
    transform: translateZ(200px) translateY(120px) scale(.333);
    background-size: cover;
    z-index: 80;
  }
  .behind{
    background: url('../img/smallmtn.png') 50% 50% no-repeat;
    transform: translateZ(-50px) translateY(70px) scale(1.2);
    background-size: cover;
  }
  .deep{
    background: url('../img/oceansky.png') 50% 50% no-repeat;
    background-size: cover;
    z-index: -50;
  }
  p{
    top: 40%;
    left: 40%;
    z-index: 1000;
  }
}
#group5{
  z-index: 200;
  .base{
    background-color: red;
  }
}
